{% load static %}
{% include "navbarAdmin.html" %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Empresa Creada</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h2>Empresa Creada</h2>
    <p><strong>Nombre:</strong> {{ empresa.nombre }}</p>
    <p><strong>Teléfono:</strong> {{ empresa.telefono }}</p>
    <p><strong>Correo:</strong> {{ empresa.correo }}</p>
    <p><strong>Dirección:</strong> {{ empresa.direccion }}</p>
    <a class="button" href="{% url 'crearEmpresa' %}">Crear otra empresa</a><br></br>
    <a class="button" href="{% url 'empresas_listar' %}">Volver a listar empresas</a>
</body>
</html>
