{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listado de Empresas</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
    <a class="{% if url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Inicio</a>

    <a class="{% if url_name in 'empresas_listar crearEmpresa editarEmpresa' %}active{% endif %}"
       href="{% url 'empresas_listar' %}">Empresas</a>

    <a class="{% if url_name in 'listarEstacionamiento crearEstacionamiento editarEstacionamiento' %}active{% endif %}"
       href="{% url 'listarEstacionamiento' %}">Estacionamientos</a>

    <a class="{% if url_name in 'listarReserva crearReserva terminarReserva' %}active{% endif %}"
       href="{% url 'listarReserva' %}">Reservas</a>

    <a class="{% if url_name == 'listarHistorial' %}active{% endif %}"
       href="{% url 'listarHistorial' %}">Historial</a>
  </nav>
  
    <div class="actions" style="margin: 10px 0;">
        <a class="button" href="{% url 'home' %}">Inicio</a>
        <a class="button" href="{% url 'crearEmpresa' %}">Crear nueva empresa</a>
    </div>

    <h1>Listado de Empresas</h1>

    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Teléfono</th>
                <th>Correo</th>
                <th>Dirección</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
            {% for empresa in empresas %}
            <tr>
                <td>{{ empresa.nombre }}</td>
                <td>{{ empresa.telefono }}</td>
                <td>{{ empresa.correo }}</td>
                <td>{{ empresa.direccion }}</td>
                <td>
                    <a class="button" href="{% url 'editarEmpresa' empresa.id %}">Editar</a>
                    <br>
                    <form action="{% url 'eliminarEmpresa' empresa.id %}" method="POST" style="display:inline;">
                        {% csrf_token %}
                        <button class="button button-danger" type="submit"
                                onclick="return confirm('¿Está seguro de que desea eliminar esta empresa?');">
                            Eliminar
                        </button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
