{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Sistema Estacionamiento{% endblock %}</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <!-- Navbar -->
  <nav class="navbar">
    <a href="{% url 'home' %}">Inicio</a>
    <a href="{% url 'listarEstacionamiento' %}">Estacionamientos</a>
    <a href="{% url 'listarReserva' %}">Reservas</a>
    <a href="{% url 'listarHistorial' %}">Historial</a>
  </nav>

  <!-- Contenido principal -->
  <main>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
