{% extends "base.html" %}
{% block title %}Lista de Estacionamientos{% endblock %}

{% block content %}
  <h1>Gestión de Estacionamientos (Admin)</h1>

  <div class="card">
      <div class="actions">
    <a href="{% url 'crearEstacionamiento' %}" class="button">Crear Estacionamiento</a>
    <a href="{% url 'crearEstacionamientosMasivo' %}" class="button">Crear Masivo</a>
    <a href="{% url 'home' %}" class="button">Ingreso de Autos</a>
    <a href="{% url 'eliminarTodosEstacionamientos' %}" class="button button-danger">Eliminar Todos</a>
  </div>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Estado</th>
          <th>Tipo</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for e in estacionamientos %}
        <tr>
          <td>{{ e.id }}</td>
          <td>{{ e.estado }}</td>
          <td>{{ e.tipo }}</td>
          <td>
            {% if e.estado == "Ocupado" %}
            {% endif %}
            <a href="{% url 'editarEstacionamiento' e.id %}" class="button">Editar</a>
            <a href="{% url 'eliminarEstacionamiento' e.id %}" class="button button-danger">Eliminar</a>
          </td>
        </tr>
        {% empty %}
        <tr>
          <td colspan="7">No hay estacionamientos creados</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>



{% endblock %}
