{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
</head>
<body>
  <h1>Bienvenido al Sistema de Estacionamientos</h1>
  <nav>
    <ul>
      <li><a href="{% url 'usuarios_listar' %}">Usuarios</a></li>
      <li><a href="{% url 'empresas_listar' %}">Empresas</a></li>
      <li><a href="{% url 'vehiculos_listar' %}">Vehículos</a></li>
      <li><a href="{% url 'estacionamientos_listar' %}">Estacionamientos</a></li>
    </ul>

  </nav>
</body>
</html>
