{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Sistema Estacionamiento</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <nav class="navbar">
    <a class="{% if request.resolver_match.url_name == 'home' %}active{% endif %}" href="{% url 'home' %}">Inicio</a>
    <a class="{% if request.resolver_match.url_name in 'empresas_listar crearEmpresa editarEmpresa' %}active{% endif %}"
       href="{% url 'empresas_listar' %}">Empresas</a>
    <a class="{% if request.resolver_match.url_name in 'listarEstacionamiento crearEstacionamiento editarEstacionamiento' %}active{% endif %}"
       href="{% url 'listarEstacionamiento' %}">Estacionamientos</a>
    <a class="{% if request.resolver_match.url_name == 'listarHistorial' %}active{% endif %}"
       href="{% url 'listarHistorial' %}">Historial</a>
    <a href="{% url 'logout' %}" style="margin-left: auto;">Cerrar Sesión ({{ request.user.nombreCompleto }})</a>
  </nav>
</body>
</html>
