{% include "navbarCliente.html" %}
{% load static %}
{% block content %}

<h1>Crear Reserva</h1>
<div class="card">

  {% if form.non_field_errors %}
    <div style="color: red; font-weight: bold; margin-bottom: 15px;">
      {% for error in form.non_field_errors %}
        {{ error }}<br>
      {% endfor %}
    </div>
  {% endif %}

  {% if error %}
    <div style="color: red; font-weight: bold; margin-bottom: 15px;">
      {{ error }}
    </div>
  {% endif %}

  <form method="post">
    {% csrf_token %}

    {{ form.vehiculo.label_tag }} {{ form.vehiculo }}
    <br>

    {{ form.fecha_inicio.label_tag }} {{ form.fecha_inicio }}
    <br>

    {{ form.duracion.label_tag }} {{ form.duracion }}
    <br>

    {{ form.estacionamiento.label_tag }} {{ form.estacionamiento }}
    <br>

    <button class="button">Guardar</button>
    <a href="{% url 'listarReserva' %}" class="button button-danger">Cancelar</a>
  </form>

</div>

{% endblock %}
