{% include "navbarCliente.html" %}
{% load static %}
{% block content %}

<h1>Listado de Reservas</h1>

<div class="card" style="display:flex; gap:10px; flex-wrap:wrap;">
  <a href="{% url 'crearReserva' %}" class="button">Crear reserva</a>
  <a href="{% url 'listarVehiculos' %}" class="button button-success">Gestionar autos</a>
</div>


<table>
  <tr>
    <th>ID</th>
    <th>Patente</th>
    <th>Estacionamiento</th>
    <th>Inicio</th>
    <th>Término</th>
    <th>Duración</th>
    <th>Restante</th>
    <th>Acción</th>
  </tr>
  {% for r in reservas %}
  <tr>
    <td>{{ r.id }}</td>
    <td>{{ r.patente }}</td>
    <td>{{ r.estacionamiento_id }}</td>
    <td>{{ r.fechaInicio }}</td>
    <td>{{ r.fechaTermino }}</td>
    <td>{{ r.duracion }}</td>
    <td>{{ r.tiempoRestante }}</td>
    <td>
      {% if r.tiempoRestante != "Finalizada" %}
        <a href="{% url 'terminarReserva' r.id %}" class="button button-danger">Terminar</a>
      {% else %}
        <span style="color: var(--text-light); font-weight: 600;">---</span>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<script src="{% static 'js/validaciones.js' %}"></script>
<script>
  document.querySelectorAll(".button-danger").forEach(btn => btn.addEventListener("click", confirmarAccion));
</script>

{% endblock %}
