{% include 'navbarAdmin.html' %}
{% load static %}
<main>
    <h1>Usuarios</h1>
    
    <div class="card">
        <a href="/usuarios/crear/" class="button">Crear Usuario</a>
    </div>
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido Paterno</th>
                        <th>Apellido Materno</th>
                        <th>Número Telefónico</th>
                        <th>Rol</th>
                        <th>Discapacidad</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuario in usuarios %}
                    <tr>
                        <td>{{ usuario.nombre }}</td>
                        <td>{{ usuario.apellidoPaterno }}</td>
                        <td>{{ usuario.apellidoMaterno }}</td>
                        <td>{{ usuario.numeroTelefono }}</td>
                        <td>{{ usuario.rol }}</td>
                        <td>{% if usuario.discapacidad %}Sí{% else %}No{% endif %}</td> 
                        <td>
                            <a href="{% url 'editarUsuario' usuario.rut %}" class="button">Editar</a>
                            <a href="/usuarios/eliminar/{{ usuario.rut }}" class="button button-danger eliminar">Eliminar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
    <script src="{% static 'js/validacionUsuario.js' %}"></script>
</main>